<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>

    <div id="one">
        <h2>人员列表</h2>
        <input type="text" placeholder="请输入名字" v-model="keyWord">
        <li v-for="(p,index) in peoples">{{p.name}}--{{p.age}}--{{p.sex}}</li>
    </div>

    <script>
        Vue.config.productionTip = false;
        new Vue({
            el: '#one',
            data: {
                keyWord: '',
                people: [{
                    id: 1,
                    name: '周冬雨',
                    age: 18,
                    sex: '女'
                }, {
                    id: 2,
                    name: '周杰伦',
                    age: 26,
                    sex: '男'
                }, {
                    id: 3,
                    name: '扁嘴论',
                    age: 15,
                    sex: '男'
                }, {
                    id: 4,
                    name: '马冬梅',
                    age: 45,
                    sex: '女'
                }, ]
            },
            computed: {
                peoples() {
                    return this.people.filter((p) => {
                        return p.name.indexOf(this.keyWord) != -1
                    })
                }
            }
        })
    </script>
</body>

</html>