<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>

    <div id="one">
        <h2>人员列表</h2>
        <input type="text" placeholder="请输入名字" v-model="keyWord">
        <li v-for="(p,index) of peoples" :key='p.id'>{{p.name}}--{{p.age}}--{{p.sex}}</li>
    </div>

    <script>
        Vue.config.productionTip = false;
        new Vue({
            el: '#one',
            data: {
                keyWord: '',
                peoples: '',
                people: [{
                    id: 1,
                    name: '周冬雨',
                    age: 18,
                    sex: '女'
                }, {
                    id: 2,
                    name: '周杰伦',
                    age: 26,
                    sex: '男'
                }, {
                    id: 3,
                    name: '扁嘴论',
                    age: 15,
                    sex: '男'
                }, {
                    id: 4,
                    name: '马冬梅',
                    age: 45,
                    sex: '女'
                }, ]
            },
            watch: {
                // 第一步：拿到输入的数据
                //第二步：根据输入的数据进行数据筛选
                keyWord: {
                    immediate: true,
                    //第一次执行，newvalue为空的字符串，所有字符串默认都包含空的字符串，因此所有的数据第一次都能显示
                    handler(newvalue) {
                        //filter方法，里面是一个函数，传入要遍历的内容，返回符合函数内条件的值
                        this.peoples = this.people.filter((p) => {
                            //indexOf 值为-1 就表示没有查新到指定的字符串
                            return p.name.indexOf(newvalue) !== -1;
                        })
                    }
                }
            }
        })
    </script>
</body>

</html>